<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twt.bookstore.mapper.BookRepository">

<resultMap id="BookInfoResultMap" type="com.twt.bookstore.poju.BookInfo">
    <id column="book_id" property="id"/>
    <result column="book_uuid" property="uuid"/>
    <result column="title" property="title"/>
    <result column="author" property="author"/>
    <result column="price" property="price"/>
    <result column="description" property="description"/>
    <result column="stock_quantity" property="stockQuantity"/>
    <result column="is_available" property="isAvailable"/>
    <result column="is_deleted" property="isDeleted"/>
    <result column="create_at" property="createTime"/>
    <result column="updated_at" property="updateTime"/>
    <result column="delete_at" property="deleteTime"/>
  </resultMap>

  <!-- 根据UUID获取主键id -->
  <select id="queryIdByUUID" resultType="java.lang.Long">
    select book_id from info_books 
    where
     book_uuid = #{uuid}
     AND is_deleted = 0;
  </select>

  <!-- 按照作者，名称模糊查找 -->
<select id="queryByTitleOrAuthorAndPaged" resultMap="BookInfoResultMap">
  SELECT 
    * FROM 
    info_books 
  WHERE
    is_deleted = 0
    <if test="title != null and title != ''">
      AND title LIKE CONCAT('%', #{title}, '%')
    </if>
    <if test="author != null and author != ''">
      AND author LIKE CONCAT('%', #{author}, '%')
    </if>
  ORDER BY 
    create_at DESC
  </select>

  <!-- 按照UUID唯一确定书籍 -->
  <select id="queryByUUID" resultMap="BookInfoResultMap">
    select * from info_books 
    where
     book_uuid = #{uuid}
     AND is_deleted = 0;
  </select>

  <!-- 获取未删除书籍条目总数 -->
  <select id="getTotalCount">
    select COUNT(*) from info_books
    where
     is_deleted = 0;
  </select>

<!-- 管理员更新书籍信息 -->
  <update id="updateBookFields" parameterType="com.twt.bookstore.poju.BookInfo">
      UPDATE info_books
      <set>
          <if test="title != null">title = #{title},</if>
          <if test="author != null">author = #{author},</if>
          <if test="price != null">price = #{price},</if>
          <if test="description != null">description = #{description},</if>
          <if test="stockQuantity != null">stock_quantity = #{stockQuantity},</if>
          <if test="isAvailable != null">is_available = #{isAvailable},</if>
          <if test="isDeleted != null and isDeleted == true">
              is_deleted = 1,
              delete_at = UTC_TIMESTAMP(6)
          </if>
          updated_at = UTC_TIMESTAMP(6),
      </set>
      WHERE book_id = #{id}
      AND is_deleted = 0
  </update>

  <!-- 库存变更 -->
  <update id="updateStockQuantity" parameterType="int">
    UPDATE info_books
      <set>
        stock_quantity = stock_quantity + changeQuantity
      </set>
    WHERE book_id = #{id}
    AND is_deleted = 0;
  </update>
  
  <!-- 插入书籍 -->
  <insert id="insertBookFields" parameterType="com.twt.bookstore.poju.BookInfo" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO info_books
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="uuid != null">book_uuid,</if> 
          <if test="title != null">title,</if>
          <if test="author != null">author,</if>
          <if test="price != null">price,</if>
          <if test="description != null">description,</if>
          <if test="stockQuantity != null">stock_quantity,</if>
          <if test="isAvailable != null">is_available,</if>
          <if test="isDeleted != null">is_deleted,</if>
      </trim>
      VALUES
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="uuid != null">#{uuid},</if>
          <if test="title != null">#{title},</if>
          <if test="author != null">#{author},</if>
          <if test="price != null">#{price},</if>
          <if test="description != null">#{description},</if>
          <if test="stockQuantity != null">#{stockQuantity},</if>
          <if test="isAvailable != null">#{isAvailable},</if>
          <if test="isDeleted != null">#{isDeleted},</if>
      </trim>
  </insert>
</mapper>