<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.twt.bookstore.mapper.CartRepository">

  <resultMap id="CartResultMap" type="com.twt.bookstore.poju.Cart">
  <!-- <constructor>
        <idArg column="cart_id" javaType="java.lang.Long"/>
        <arg column="user_id" javaType="java.lang.Long"/>
        <arg column="book_id" javaType="java.lang.Long"/>
        <arg column="item_count" javaType="java.lang.Integer"/>
        <arg column="is_deleted" javaType="boolean"/>
        <arg column="create_at" javaType="java.time.Instant"/>
        <arg column="delete_at" javaType="java.time.Instant"/>
    </constructor> -->

    <id column="cart_id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="book_id" property="bookId"/>
    <result column="item_count" property="itemCount"/>
    <result column="is_deleted" property="isDeleted"/>
    <result column="create_at" property="createdAt"/>
    <result column="delete_at" property="deleteAt"/>
  </resultMap>

  <select id="queryCartItemByUserIdAndBookId" resultMap="CartResultMap">
    SELECT 
      cart_id, 
      user_id, 
      book_id, 
      count AS item_count,
      create_at
    FROM 
      carts 
    WHERE 
      user_id = #{userId} 
      AND book_id = #{bookId} 
      AND is_deleted = 0
  </select>

  <select id="queryCartsByUserId" resultMap="CartResultMap">
    SELECT 
      cart_id,
      user_id,
      book_id,
      count AS item_count,
      is_deleted,
      create_at,
      delete_at
    FROM carts
    WHERE user_id = #{userId}
      AND is_deleted = 0
    ORDER BY create_at DESC
  </select>

  <insert id="insertCartItem" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO carts (
      user_id, 
      book_id, 
      count,
      create_at
    ) 
    VALUES (
      #{userId}, 
      #{bookId}, 
      #{itemCount},
      UTC_TIMESTAMP(6)
    )
  </insert>

  <update id="deleteCartItemById">
    UPDATE carts
    SET 
      is_deleted = 1,
      delete_at = UTC_TIMESTAMP(6)
    WHERE 
      cart_id = #{id}
      AND is_deleted = 0
  </update>

  <update id="deleteCartItemByUserIdAndBookId">
    UPDATE carts
    SET 
      is_deleted = 1,
      delete_at = UTC_TIMESTAMP(6)
    WHERE 
      user_id = #{user_id}
      AND book_id = #{book_id}
      AND is_deleted = 0
  </update>

  <update id="updateCartItemCountById">
    UPDATE carts
    SET 
      count = #{itemCount}
    WHERE 
      cart_id = #{id}
      AND is_deleted = 0
  </update>

  <update id="deleteAllItemByPersonId">
    UPDATE carts
    SET 
      is_deleted = 1
    WHERE 
      user_id = #{userId}
      AND is_deleted = 0
  </update>
</mapper>