<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twt.bookstore.mapper.UserRepository">
<!-- 查找用户主键id -->
  <select id="queryIdByUUID" resultType="java.lang.Long">
    select user_id from info_users where user_uuid = #{uuid} AND is_deleted = 0;
  </select>

<!-- 通过UUID查找用户 -->
  <select id="queryByUUID" resultType="com.twt.bookstore.poju.UserInfo">
    select * from info_users where user_uuid = #{uuid} AND is_deleted = 0;
  </select>

<!-- 新增用户 -->
  <insert id="insertUserFields" parameterType="com.twt.bookstore.poju.UserInfo" useGeneratedKeys="true" keyProperty="user_id">
      INSERT INTO info_users
      <trim prefix="(" suffix=")" suffixOverrides=",">
          user_uuid,
          user_name,
          password,
          <if test="email != null and email != ''">email,</if>
          <if test="phone != null and phone != ''">phone,</if>
          <if test="role != null">role,</if>
          createTime,
      </trim>
      
      <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
          #{uuid},
          #{userName},
          #{passwordEncoder},
          <if test="email != null and email != ''">#{email},</if>
          <if test="phone != null and phone != ''">#{phone},</if>
          <if test="role != null"> #{role, typeHandler=org.apache.ibatis.type.EnumTypeHandler},</if>
          CURRENT_TIMESTAMP,
      </trim>
  </insert>

  <!-- 更新用户信息 -->
  <update id="updateUserFields" parameterType="com.twt.bookstore.poju.UserInfo">
      UPDATE info_users
      <set>  
          <if test="passwordEncoder != null and passwordEncoder != ''">password = #{passwordEncoder},</if>
          <if test="email != null and email != ''">email = #{email},</if>
          <if test="phone != null and phone != ''">phone = #{phone},</if>
          <if test="role != null">role = #{role, typeHandler=org.apache.ibatis.type.EnumTypeHandler},</if>
          <if test="is_deleted != null">is_deleted = #{is_deleted},</if>
          updated_at = NOW(), 
      </set>
      WHERE user_id = #{id}
  </update>
</mapper>