<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twt.bookstore.mapper.UserRepository">

<resultMap id="UserInfoResultMap" type="com.twt.bookstore.poju.UserInfo">
    <id column="user_id" property="id"/>
    <result column="user_uuid" property="uuid"/>
    <result column="user_name" property="userName"/>
    <result column="password" property="passwordEncoder"/> 
    <result column="phone" property="phone"/>
    <result column="email" property="email"/>
    <result column="role" property="role" 
            jdbcType="VARCHAR" 
            javaType="com.twt.bookstore.poju.UserRole" />
    <result column="is_deleted" property="isDeleted"/>
    <result column="create_at" property="createTime"/>
    <result column="update_at" property="updateTime"/>
    <result column="delete_at" property="deleteTime"/>
  </resultMap>

<!-- 查找用户主键id -->
  <select id="queryIdByUUID" resultType="java.lang.Long">
    select user_id from info_users where user_uuid = #{uuid} AND is_deleted = 0;
  </select>

<!-- 查找用户uuid 包括已删除 订单查询 -->
  <select id="queryUuidById" resultType="java.util.UUID">
    select user_uuid from info_users where user_id = #{id};
  </select>

<!-- 通过UUID查找用户 -->
  <select id="queryByUUID" resultMap="UserInfoResultMap">
    select * from info_users where user_uuid = #{uuid} AND is_deleted = 0;
  </select>

<!-- 通过用户名查找用户 -->
  <select id="queryByUsername" resultMap="UserInfoResultMap">
    SELECT 
        user_id, 
        user_uuid, 
        user_name, 
        password,
        email, 
        phone, 
        role, 
        is_deleted, 
        create_at, 
        update_at, 
        delete_at 
    FROM 
        info_users 
    WHERE 
        user_name = #{name} AND is_deleted = 0;
  </select>

<!-- 新增用户 -->
  <insert id="insertUserFields" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO info_users
      <trim prefix="(" suffix=")" suffixOverrides=",">
          user_uuid,
          user_name,
          password,
          <if test="email != null and email != ''">email,</if>
          <if test="phone != null and phone != ''">phone,</if>
          <if test="role != null">role,</if>
          create_at,
      </trim>
      
      <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
          #{uuid},
          #{userName},
          #{passwordEncoder},
          <if test="email != null and email != ''">#{email},</if>
          <if test="phone != null and phone != ''">#{phone},</if>
          <if test="role != null"> #{role, typeHandler=org.apache.ibatis.type.EnumTypeHandler},</if>
          CURRENT_TIMESTAMP,
      </trim>
  </insert>

  <!-- 更新用户信息 -->
  <update id="updateUserFields">
      UPDATE info_users
      <set>  
          <if test="passwordEncoder != null and passwordEncoder != ''">password = #{passwordEncoder},</if>
          <if test="email != null and email != ''">email = #{email},</if>
          <if test="phone != null and phone != ''">phone = #{phone},</if>
          <if test="role != null">role = #{role, typeHandler=org.apache.ibatis.type.EnumTypeHandler},</if>
          <if test="is_deleted != null">is_deleted = #{is_deleted},</if>
          updated_at = UTC_TIMESTAMP(), 
      </set>
      WHERE user_id = #{id}
  </update>
</mapper>